:root {
  --color-bright-orange: hsl(31, 77%, 52%);
  --color-dark-cyan: hsl(184, 100%, 22%);
  --color-very-dark-cyan: hsl(179, 100%, 13%);
  --color-transparent-white: hsla(0, 0%, 100%, 0.75);
  --color-very-light-gray: hsl(0, 0%, 95%);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 400px) {
  html {
    font-size: 75%;
  }
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.5rem;
  text-align: left;
  color: var(--color-transparent-white);
  -webkit-font-smoothing: antialiased;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-very-light-gray);
}

.headers {
  font-family: "Big Shoulders Display", cursive;
}

.three-col-card {
  height: 50rem;
  width: 92rem;
  background-color: aqua;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 9px;
  overflow: hidden;
}
.three-col-card > * {
  padding: 5rem 4.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.3rem;
}
@media only screen and (max-width: 400px) {
  .three-col-card > * {
    padding: 5rem 4rem;
  }
}
.three-col-card > * .icon {
  height: 40px;
  width: 64px;
  margin-top: -0.1rem;
}
@media only screen and (max-width: 400px) {
  .three-col-card {
    margin: 2rem 0;
    width: 90vw;
    height: 80vh;
    grid-template-columns: 90vw;
    grid-template-rows: repeat(3, 1fr);
    overflow: scroll;
  }
}
.three-col-card .heading {
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
  color: var(--color-very-light-gray);
  font-weight: 700;
  font-size: 4rem;
  margin-top: 0.1rem;
}
.three-col-card .body-text {
  font-weight: 400;
  line-height: 1.7;
  margin-top: -0.8rem;
}
.three-col-card .btn {
  margin-top: 4.7rem;
  background-color: var(--color-very-light-gray);
  padding: 1.6rem 3.3rem;
  border: none;
  cursor: pointer;
  font-weight: 700;
  border-radius: 200px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 1.5rem;
  -webkit-font-smoothing: antialiased;
}
@media only screen and (max-width: 400px) {
  .three-col-card .btn {
    margin-top: 0;
  }
}
.three-col-card .btn:active {
  padding: 1.4rem 3.1rem;
  background-color: inherit;
  border: 2px solid var(--color-very-light-gray);
}
.three-col-card .btn:active > * {
  color: var(--color-very-light-gray);
}
.three-col-card .btn__text--1 {
  color: var(--color-bright-orange);
}
.three-col-card .btn__text--2 {
  color: var(--color-dark-cyan);
}
.three-col-card .btn__text--3 {
  color: var(--color-very-dark-cyan);
}
.three-col-card .col-card-1 {
  background-color: var(--color-bright-orange);
}
.three-col-card .col-card-2 {
  background-color: var(--color-dark-cyan);
}
.three-col-card .col-card-3 {
  background-color: var(--color-very-dark-cyan);
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--color-dark-cyan);
  position: absolute;
  bottom: 12rem;
}
@media only screen and (max-width: 950px) {
  .attribution {
    bottom: 4rem;
  }
}
@media only screen and (max-width: 400px) {
  .attribution {
    position: static;
  }
}

.attribution a {
  color: hsl(228, 45%, 44%);
}