// CSS Custom Properties
:root {
  // ## Colors

  // ### Primary

  --color-bright-orange: hsl(31, 77%, 52%);
  --color-dark-cyan: hsl(184, 100%, 22%);
  --color-very-dark-cyan: hsl(179, 100%, 13%);

  // ### Neutral

  // (paragraphs)
  --color-transparent-white: hsla(0, 0%, 100%, 0.75);
  // (background, headings, buttons)
  --color-very-light-gray: hsl(0, 0%, 95%);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: 400px) {
    font-size: 75%;
  }
}

body {
  height: 100vh;
  width: 100vw;

  font-family: "Lexend Deca", sans-serif;
  font-size: 1.5rem;
  // color: var(--color-transparent-white);
  text-align: left;
  color: var(--color-transparent-white);
  -webkit-font-smoothing: antialiased;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--color-very-light-gray);
}

.headers {
  font-family: "Big Shoulders Display", cursive;
}
