.three-col-card {
  height: 50rem;
  width: 92rem;
  background-color: aqua;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 9px;
  overflow: hidden;

  & > * {
    padding: 5rem 4.8rem;
    display: flex;
    flex-direction: column;
    gap: 3.3rem;

    .icon {
      height: 40px;
      width: 64px;
      margin-top: -0.1rem;
    }
  }

  // General Styles

  .heading {
    font-family: "Big Shoulders Display", cursive;
    text-transform: uppercase;
    color: var(--color-very-light-gray);
    font-weight: 700;
    font-size: 4rem;
    margin-top: 0.1rem;
  }

  .body-text {
    font-weight: 400;
    line-height: 1.7;
    margin-top: -0.8rem;
  }

  .btn {
    margin-top: 4.7rem;
    background-color: var(--color-very-light-gray);
    padding: 1.6rem 3.3rem;
    border: none;
    cursor: pointer;
    font-weight: 700;
    border-radius: 200px;
    align-self: flex-start;
    font-size: 1.5rem;
    -webkit-font-smoothing: antialiased;

    &__text--1 {
      color: var(--color-bright-orange);
    }

    &__text--2 {
      color: var(--color-dark-cyan);
    }
    &__text--3 {
      color: var(--color-very-dark-cyan);
    }
  }

  // Individual Cells
  .col-card-1 {
    background-color: var(--color-bright-orange);
  }

  .col-card-2 {
    background-color: var(--color-dark-cyan);
  }

  .col-card-3 {
    background-color: var(--color-very-dark-cyan);
  }
}
