.three-col-card {
  height: 60vh;
  width: 80vw;
  background-color: aqua;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 5px;
  overflow: hidden;

  & > * {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .icon {
      height: 40px;
      width: 64px;
    }
  }

  // General Styles

  .heading {
    text-transform: uppercase;
    color: var(--color-very-light-gray);
    font-weight: 700;
  }

  .body-text {
    font-weight: 400;
  }

  .btn {
    background-color: var(--color-very-light-gray);
    padding: 1.2rem 2.4rem;
    border: none;
    cursor: pointer;
    font-weight: 700;
    border-radius: 200px;
    align-self: flex-start;

    &__text--1 {
      color: var(--color-bright-orange);
    }

    &__text--2 {
      color: var(--color-dark-cyan);
    }
    &__text--3 {
      color: var(--color-very-dark-cyan);
    }
  }

  // Individual Cells
  .col-card-1 {
    background-color: var(--color-bright-orange);
  }

  .col-card-2 {
    background-color: var(--color-dark-cyan);
  }

  .col-card-3 {
    background-color: var(--color-very-dark-cyan);
  }
}
